<div class='container'>    
  <div class='col-md-4 mt-4 mb-3'>
    <h2>過去のコメント</h2>
  </div>
  <table class= "table table-hover table-inveerse">
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.execution_status.name %></td>
        <td><%= comment.user.name %></td>
        <td><% if comment.image.present? %>
              <%= image_tag comment.image, size:'150x200' %>
            <% else %>
              <%= image_tag 'no_image.jpg' %>
            <% end %>
        </td>
        <td><%= comment.comment_body %></td>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
    <% end %>  
  </table>
  <%#= paginate @comments %>
</div>