<div class='container'>
  <div class='row'>   
    <div class='col-md-4 mt-4 mb-3'  style='display:flex; flex-wrap:wrap;'>
      <h2>コメント</h2>
    </div>
  </div>
  <div class='row'>
    <div class = 'col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
      <%= render 'layouts/error', model: @comment %>
      <%= form_with model: @comment, url: public_post_comments_path(@post), method: :post, local:true do |f| %>
        <div class='form-group'>
          <%= f.label 'ステータス' %>
          <%= f.collection_select :execution_status_id, @status, :id, :name, {include_blank: '--ステータスを選択--'} %>
        </div>
        <div class='form-group'>
          <%= f.label '画像' %>
    　     <%= f.file_field :image, accept: 'image/*', class: 'form-control-file admin_image' %>
        </div>
        <div class='form-group'>
          <%= f.label 'コメント内容' %>
          <%= f.text_area :comment_body, class: 'form-control item_description', placeholder: '内容を入力', size: '50x10' %>
        </div>
        <div class='form-group'>
          <%= f.submit '投稿', class: 'btn btn-outline-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>