<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5'>
      <h2 class='register'>
        <%= @user.name %>さんの会員情報編集
      </h2>
      <div class='mx-4 mt-4'>
        <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local:true do |f| %>
          <div class='mt-3'>
            会員ID <%= @user.id %>
          </div>
          <div class='mt-3'>
            <%= f.label '名前' %>
            <%= f.text_field :name, class:'form-control', autofocus: true, autocomplete: 'family-name' %>
          </div>
          <div class='mt-3'>
              <%= f.label 'メールアドレス' %>
              <%= f.email_field :email, class:"form-control", autocomplete: 'email' %>
          </div>
          <div class='mt-3'>
            <%= f.label '会員ステータス' %>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, '有効', value: false %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, '退会', value: true %>
          </div>
          <div class='mt-3'>
            <%= f.submit '更新', class: 'btn btn-success btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
