<div class='container'>
  <div class='row'>
    <div class='col-md-5 mt-4 mb-3'>
      <h2><%= @user.name %>さんの会員情報編集</h2>
    </div>
  </div>
</div>
<div class='container'>   
  <div class='row'>
    <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local:true do |f| %>
    <div class="mb-3">
        <tr>
          <th>会員ID</th>
          <td><%= @user.id %></td>
        </tr>
    </div>
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <tr>
          <th><%= f.label '名前' %></th>
          <td><%= f.text_field :name, class:"form-control", autofocus: true, autocomplete: "family-name" %></td>
          </tr>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <tr>
        <th><%= f.label 'メールアドレス' %></th>
        <td><%= f.email_field :email, class:"form-control", autocomplete: "email" %></td>
        <td></td>
    </div>
    <div class="mb-3">
      <tr>
        <th><%= f.label '会員ステータス' %></th>
        <td>
          <%= f.radio_button :is_deleted, false %>
          <%= f.label :is_deleted, "有効", value: false %>
          <%= f.radio_button :is_deleted, true %>
          <%= f.label :is_deleted, '退会', value: true %>
        </td>
      </tr>
    </div>
    
    <div class="mb-3">
      <%= f.submit "更新", class: "btn btn-success btn-block" %>
    </div>
  </div>
</div>


<% end %>