<h2 class='mt-4'><strong><%= @user.name %>さんの会員詳細</strong></h2><br>
<table class='table table-bordered'>
  <thead>
    <tr>
      <td>会員ID</td>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td>
        <% if @user.is_deleted == true %>
        <span class='text-secondary'><strong>退会</strong></span>
        <% else %>
        <span class='text-success'><strong>有効</strong></span>
        <% end %>
      </td>
    </tr>
</table>
<div><%= link_to '編集', edit_admin_user_path(@user), class: "btn btn-success btn-block edit_#{@user.id}" %></div>
<div><%= link_to '過去のコメント', public_user_comments_path(@user), class: 'btn btn-primary btn-block' %></div>
<div class='col-md-8 offset-md-1'>
  <h2>投稿</h2>
  <%#= render 'posts/index', posts: @posts %>
</div>
