<div class='container'>
  <div class='row'>    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>過去のコメント</h2>
    </div>
  </div>
</div>
<div class='container card'>
  <div class='card-body'>
    <% @comments.each do |comment| %>
      <div class='row'>
        <p class='col-md-2'>
          <%= link_to admin_user_path(comment.user), class: 'text-dark' do %>
            <%= comment.user.name %>
          <% end %>
        </p>
        <p class='col-md-4'>
          ステータス：<%= comment.execution_status.name %>
        </p>
        <p class='col-md-6'>
          投稿日：<%= comment.created_at.strftime('%Y/%m/%d') %>
        </p>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <% if comment.image.present? %>
            <%= link_to comment.image, 'data-lightbox': comment.image do %>
            　<%= image_tag comment.image, size: '300x200' %>
            <% end %>
          <% else %>
            <%= image_tag 'no_image.jpg', size:'300x200' %>
          <% end %>
        </div>
        <div class='col-md-7'>
          <p class='card-text'>
            <%= link_to admin_post_path(comment.post.id), class: 'text-dark' do %>
              <%= comment.comment_body %>
            <% end %>
          </p>
        </div>
        <div class='col-1'>
          <%= link_to '削除', admin_user_comment_path(@user,comment), method: :delete, class: 'btn btn-outline-danger' %>
        </div>
      </div>
      <span>♡<%= comment.favorites.count %>︎</span>
    <% end %>
  </div>
</div>
<%= render 'layouts/back' %>
<%= paginate @comments %>