<table class='table' border='2' style='font-size: 13pt; line-height: 50%;'>
  <thead bgcolor="#f5f5f5">
   <tr>
     <th>投稿日</th>
     <th>投稿者</th>
     <th>工程</th>
     <th>タイトル</th>
     <th>コメント数</th>
     <th></th>
   </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= link_to admin_user_path(post.user) do %>
              <%= post.user.name %>
            <% end %>
        </td>
        <td><%= post.section.name %></td>
        <td><%= link_to admin_post_path(post) do %>
              <%= post.title %>
            <% end %>
        </td>
        <td><%= post.comments.count %>件</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>