<div class='container'>    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>投稿詳細</h2>
    </div>
      <td><%= link_to admin_user_path(@post.user) do %>
            <%= @post.user.name %>
          <% end %>
      </td>
      <td><%= @post.section.name %><td>
      <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
      <p><%= @post.title %></p>
      <p><% if @post.image.present? %>
           <%= image_tag @post.image, size:'150x200' %>
         <% else %>
           <%= image_tag 'no_image.jpg', size:'150x200' %>
         <% end %></p>
      <p><%= @post.post_body %></p>

      <%= link_to '削除', admin_post_path(@post), method: :delete %>
      
    <%#= @check ? '既読' : '未読' %>
    
    <div class='col-md-4 mt-4 mb-3'>
      <h2>コメント</h2>
    </div>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= link_to admin_user_path(comment.user) do %>
                <%= comment.user.name %>
              <% end %>  
          </td>
          <td><%= comment.execution_status.name %></td>
          <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><% if comment.image.present? %>
                <%= image_tag comment.image, size:'150x200' %>
              <% else %>
                <%= image_tag 'no_image.jpg', size:'150x200' %>
              <% end %>
          </td>
          <td><%= comment.comment_body %></td>
              <span>♡<%= comment.favorites.count %>︎</span>
        </tr>
      <% end %>
  </div>