<div class='container'>
  <div class='row'>
    <ul class='col-md-2 mt-5' style='font-size: 13pt; list-style: none;'>
        <% @sections.each do |section| %>
          <li>
              <%= link_to public_section_path(section) do %>
                <%= section.name %>
              <% end %>
          </li>
        <% end %>
    </ul>
    <div class='col-md-8 offset-md-1 mt-5'>
      <h2>"<%= @section.name %>"工程</h2>
        <% @section.posts.each do |post| %>
          <p><%= post.user.name %></p>
          <p><%= link_to public_post_path(post) do %>
                <%= post.title %>
              <% end %>
          </p>
          <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
        <% end %>
    </div>
  </div>
</div>
