<header class='shadow-sm'>
  <nav class='navbar navbar-expand-sm navbar-dark' style='background-color:#222222;'>
    <div class='container'>
      <a class='navbar-brand' href='/'>
        <%= image_tag'rogo.png', size:'70x70' %>
      </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
    </div>
    <div class='container'>
      <div class='collapse navbar-collapse' id='navbarNavDropdown'>
        <ul class='navbar-nav ml-auto'>
          <!--ユーザーログイン後のヘッダー-->
          <% if user_signed_in? %>
          <!--動く検索窓-->
            <!--<li class='mt-1'>-->
            <!--  <form class="search-container" action="search_public_posts_path",local='true'>-->
            <!--    <input id="search-box" type="text" class="search-box" name="keyword" />-->
            <!--    <label for="search-box">-->
            <!--      <span class="glyphicon glyphicon-search search-icon">-->
            <!--        <i class='fas fa-search color: white;'></i>-->
            <!--      </span>-->
            <!--    </label>-->
            <!--    <input type="submit" id="search-submit" />-->
            <!--  </form>-->
            <!--</li>-->
            <li>
              <%= link_to 'HOME', public_users_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to '投稿一覧', public_posts_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to new_public_post_path, class: 'nav-link text-light' do %>
                投稿<i class="far fa-edit"></i>
              <%end %>
            </li>
            <li>
              <% if unchecked_notifications.any? %>
                <div class='news'>
                </div>
              <% end %>
                <%= link_to 'マイページ', public_user_path(current_user), class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
            <li class='mt-1'>
              <div class='search-wrapper'>
                <div class='input-holder'>
                  <%= form_with url: search_public_posts_path, local: true, method: :get do |f| %>
                    <%= f.text_field :keyword, placeholder: 'キーワードを入力' %>
                    <%= f.button :type => 'submit', style: 'border-style:none;' do %>
                      <i class='fas fa-search'></i>
                    <% end %>
                  <% end %>
                </div>
                <span class'close' onclick='searchToggle(this, event);'></span>
              </div>
            </li> 
          <!--管理者ログイン後のヘッダー-->
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to 'ステータス一覧', admin_execution_statuses_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to 'マップ一覧', admin_workplaces_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to '工程一覧', admin_sections_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to '投稿一覧', admin_posts_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-light' %> 
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
          <!--ログイン前のヘッダー-->
          <% else %>
            <li>
             <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'login nav-link text-light' %>
            </li>
            <li>
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-light' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>