<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-5'>
      <h2 class='register'>工程名編集</h2>
      <div class='card'>
        <div class='mx-4 mt-4'>
          <%= form_with model: @section, url: admin_section_path(@section.id), method: :patch, local:true do |f| %>
            <div class='form-group'>
              <%= f.label '工程名' %>
              <%= f.text_field :name, class: 'form-control', placeholder: '工程を入力' %>
          　</div>
            <%= f.submit '更新', class: 'btn btn-outline-success' %>
            <p class='mt-2'>
              <%= link_to '削除', admin_section_path(@section), method: :delete, class: 'btn btn-outline-danger' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/back' %>