<div class='row'>
  <p class='col-md-2'>
    <%= link_to public_user_path(comment.user), class: 'text-dark' do %>
      <%= comment.user.name %>
    <% end %>
  </p>
  <p class='col-md-4'>
    <span class='badge badge-pill badge-secondary appearance'>
      ステータス
    </span>
    <%= comment.execution_status.name %>
  </p>
  <p class='col-md-6'>
     <span class='badge badge-pill badge-secondary appearance'>
      投稿日
    </span>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
  </p>
</div>
<div class='row'>
  <div class='col-md-4'>
    <% if comment.image.present? %>
      <%= link_to comment.image, 'data-lightbox': comment.image do %>
        <%= image_tag comment.image, size: '100x100' %>
      <% end %>
    <% else %>
      <%= image_tag 'no_image.png', size: '100x100' %>
    <% end %>
  </div>
  <div class='col-md-7'>
    <p class='card-text'>
      <%= link_to public_post_path(post), class: 'text-dark' do %>
        <%= comment.comment_body %>
      <% end %>
    </p>
  </div>
  <% if comment.user == current_user %>
    <div class='col-1'>
      <%= link_to '編集', edit_public_post_comment_path(post, comment), class: 'btn btn-outline-success' %>
    </div>
  <% end %>
</div>
<div class='row'>
<div id="favorite_buttons_<%= comment.id %>">
<%= render "public/favorites/favorite_btn", post: post, comment: comment %>
</div>
</div>