<div class='container'>
  <div class='row'>
    <div class='col-md-8 mt-4 mb-3 mx-auto'>
      <h2>投稿編集</h2>
      <div class='card'>
        <div class='card-body'>
          <%= render 'layouts/error', model: @post %>
          <%= form_with model: @post, url: public_post_path(@post), method: :patch, local:true do |f| %>
            <div class='form-group'>
              <%= f.label '工程', for: 'section_select' %>
              <%= f.collection_select :section_id, @sections, :id, :name, {include_blank: '--工程を選択--'}, class: 'form-control', id: 'section_select' %>
            </div>
             <div class='form-group'>
               <%= f.label '画像' %>
               <%= f.file_field :image, accept: 'image/*', class: 'form-control-file admin_image' %>
             </div>
             <div class='form-group'>
               <%= f.label 'タイトル' %>
               <%= f.text_field :title, class: 'form-control title', placeholder: 'タイトルを入力',size: 50 %>
             </div>
             <div class='form-group'>
              <%= f.label '投稿内容' %>
              <%= f.text_area :post_body, class: 'form-control item_description', placeholder: '内容を入力',size: '50x10' %>
            </div>
            <%= f.submit '投稿', class: 'btn btn-outline-success' %>
            <p class='mt-2'>
              <%= link_to '削除', public_post_path(@post), method: :delete, class: 'btn btn-outline-danger' %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>