<div class='container'>
  <div class='row'>
      <div class='col-md-4 mt-4 mb-1'>
        <h2>投稿一覧</h2>
        <p>
          <!--選択されなかった方の色を薄くする-->
          <%= link_to '新しい順', public_posts_path(latest: 'true'), class: (current_page?(public_posts_path(latest: 'true')) ? 'text-dark' : 'text-muted') %>
          |<%= link_to '古い順', public_posts_path(old: 'true'), class: (current_page?(public_posts_path(old: 'true')) ? 'text-dark' : 'text-muted') %>
      </div>
      <p>
        <%= render 'index', posts: @posts %>
      </p>  
      <div style="margin:0 auto;">
        <%= paginate @posts %>
      </div>
  </div>
</div>
<%= render 'layouts/back' %>
